<div class="contact_box">
  <div class="box_formulary">
    <form action="">
      <section>
        <h1>Contactenos</h1>
        <p>
          Los campos obligatorios van seguidos de
          <strong> <abbr title="required"> * </abbr> </strong>.
        </p>
        <p>
          <label for="name">Name:</label>
          <input type="text" id="name" />
        </p>
        <p>
          <label for="email">Email</label>
          <input type="email" id="email" />
        </p>
        <p>
          <label for="nameCompany">Company</label>
          <input type="text" id="nameCompany" />
        </p>
        <p>
          <label for="textContent">Message</label>
          <textarea name="textContent" id="" cols="30" rows="10"></textarea>
        </p>
        <input type="submit" value="Enviar" />
      </section>
    </form>
  </div>
  <aside>
    <div>
      <fa-icon [icon]="faFacebook"></fa-icon>
      <fa-icon [icon]="faInstagram"></fa-icon>
      <fa-icon [icon]="faTwitter"></fa-icon>
    </div>
    <div>
      <h2>Grain & Mortar</h2>
      <p>1111 N.</p>
      <p>Omaha. NE</p>
    </div>
    <div>
      <h2>New business:</h2>
      <a href="http://" target="_blank" rel="noopener noreferrer"
        >hello@gmail.com</a
      >
      <p>402-370-8170</p>
    </div>
  </aside>
</div>
