<form [formGroup]="formlogin" (ngSubmit)="sendDataLogin($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field>
          <input
            type="text"
            formControlName="user"
            placeholder="User"
            matInput
          />
        </mat-form-field>
        <div *ngIf="userField!.errors && userField!.dirty">
          <mat-error *ngIf="userField!.hasError('required')"
            >Campo invalido</mat-error
          >
        </div>
      </div>
      <div>
        <mat-form-field>
          <input
            type="text"
            formControlName="password"
            placeholder="password"
            matInput
          />
        </mat-form-field>
        <div *ngIf="passwordField!.errors && passwordField!.dirty">
          <mat-error *ngIf="passwordField!.hasError('required')"
            >Campo invalido</mat-error
          >
        </div>
      </div>
      <mat-card-actions>
        <button [disabled]="formlogin.invalid" mat-raised-button>Login</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
